In [29]:
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math, random, requests, io
%matplotlib inline

In [30]:
import sys
!{sys.executable} -m pip install ipyleaflet

Requirement already satisfied: ipyleaflet in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (0.12.4)
Requirement already satisfied: ipywidgets<8,>=7.5.0 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipyleaflet) (7.5.1)
Requirement already satisfied: xarray>=0.10 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipyleaflet) (0.15.1)
Requirement already satisfied: traittypes<3,>=0.2.1 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipyleaflet) (0.2.1)
Requirement already satisfied: branca<0.4,>=0.3.1 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipyleaflet) (0.3.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (3.5.1)
Requirement already satisfied: traitlets>=4.3.1 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (4.3.3)
Requirement already satisfied: ipykernel>=4.5.1 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (5.1.4)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (7.12.0)
Requirement already satisfied: nbformat>=4.2.0 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (5.0.4)
Requirement already satisfied: numpy>=1.15 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from xarray>=0.10->ipyleaflet) (1.18.1)
Requirement already satisfied: setuptools>=41.2 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from xarray>=0.10->ipyleaflet) (45.2.0.post20200210)
Requirement already satisfied: pandas>=0.25 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from xarray>=0.10->ipyleaflet) (1.0.1)
Requirement already satisfied: six in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from branca<0.4,>=0.3.1->ipyleaflet) (1.14.0)
Requirement already satisfied: jinja2 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from branca<0.4,>=0.3.1->ipyleaflet) (2.11.1)
Requirement already satisfied: notebook>=4.4.1 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (6.0.3)
Requirement already satisfied: decorator in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from traitlets>=4.3.1->ipywidgets<8,>=7.5.0->ipyleaflet) (4.4.1)
Requirement already satisfied: ipython-genutils in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from traitlets>=4.3.1->ipywidgets<8,>=7.5.0->ipyleaflet) (0.2.0)
Requirement already satisfied: tornado>=4.2 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.5.0->ipyleaflet) (6.0.3)
Requirement already satisfied: jupyter-client in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.5.0->ipyleaflet) (5.3.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (3.0.3)
Requirement already satisfied: pygments in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (2.5.2)
Requirement already satisfied: jedi>=0.10 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.16.0)
Requirement already satisfied: pickleshare in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.7.5)
Requirement already satisfied: backcall in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.1.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (4.8.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (3.2.0)
Requirement already satisfied: jupyter-core in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (4.6.1)
Requirement already satisfied: pytz>=2017.2 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from pandas>=0.25->xarray>=0.10->ipyleaflet) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from pandas>=0.25->xarray>=0.10->ipyleaflet) (2.8.1)
Requirement already satisfied: MarkupSafe>=0.23 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from jinja2->branca<0.4,>=0.3.1->ipyleaflet) (1.1.1)
Requirement already satisfied: prometheus-client in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.7.1)
Requirement already satisfied: Send2Trash in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (1.5.0)
Requirement already satisfied: nbconvert in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (5.6.1)
Requirement already satisfied: pyzmq>=17 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (18.1.1)
Requirement already satisfied: terminado>=0.8.1 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.8.3)
Requirement already satisfied: wcwidth in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.1.8)
Requirement already satisfied: parso>=0.5.2 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.6.1)
Requirement already satisfied: ptyprocess>=0.5 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.6.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.15.7)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (1.5.0)
Requirement already satisfied: attrs>=17.4.0 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (19.3.0)
Requirement already satisfied: bleach in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (3.1.0)
Requirement already satisfied: testpath in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.4.4)
Requirement already satisfied: defusedxml in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.8.4)
Requirement already satisfied: zipp>=0.5 in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (2.2.0)
Requirement already satisfied: webencodings in /home/alex/anaconda3/envs/ThinkComplexity2/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.5.1)

In [31]:
!jupyter nbextension enable --py --sys-prefix ipyleaflet

Enabling notebook extension jupyter-leaflet/extension...
      - Validating: OK

In [32]:
from ipyleaflet import Map, basemaps, basemap_to_tiles, Circle, Marker, FullScreenControl, LayersControl
# After importing, refresh the page to show the maps

In [33]:
# https://blog.jupyter.org/interactive-gis-in-jupyter-with-ipyleaflet-52f9657fa7a
center = (0, 0)
zoom=1

map_ = Map(basemap=basemaps.OpenStreetMap.Mapnik, center=center, zoom=zoom)
map_.add_control(FullScreenControl())
map_.add_control(LayersControl())
display(map_)

Map(center=[0, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text'…

In [34]:
map_.interact(zoom=(1,10,1))

Box(children=(IntSlider(value=1, description='zoom', max=10, min=1),))

In [1]:
# Needed for when editing external modules
%load_ext autoreload
%autoreload
from datasetmanager import CovidManager

covid_manager = CovidManager()

datasets = covid_manager.getDatasets()

print(datasets['full'])

{'confirmed':               County Province/State Country/Region        Lat        Long  \
0                NaN            NaN    Afghanistan  33.000000   65.000000
1                NaN            NaN        Albania  41.153300   20.168300
2                NaN            NaN        Algeria  28.033900    1.659600
3                NaN            NaN        Andorra  42.506300    1.521800
4                NaN            NaN         Angola -11.202700   17.873900
...              ...            ...            ...        ...         ...
3519    Central Utah           Utah             US  39.372319 -111.575868
3520  Southeast Utah           Utah             US  38.996171 -110.701396
3521  Southwest Utah           Utah             US  37.854472 -111.441876
3522       TriCounty           Utah             US  40.124915 -109.517442
3523    Weber-Morgan           Utah             US  41.271160 -111.914512

      1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  ...  4/13/20  4/14/20  \
0           0        0        0        0        0  ...      665      714
1           0        0        0        0        0  ...      467      475
2           0        0        0        0        0  ...     1983     2070
3           0        0        0        0        0  ...      646      659
4           0        0        0        0        0  ...       19       19
...       ...      ...      ...      ...      ...  ...      ...      ...
3519        0        0        0        0        0  ...        0        0
3520        0        0        0        0        0  ...        0        0
3521        0        0        0        0        0  ...        0        0
3522        0        0        0        0        0  ...        0        0
3523        0        0        0        0        0  ...        0        0

      4/15/20  4/16/20  4/17/20  4/18/20  4/19/20  4/20/20  4/21/20  4/22/20
0         784      840      906      933      996     1026     1092     1176
1         494      518      539      548      562      584      609      634
2        2160     2268     2418     2534     2629     2718     2811     2910
3         673      673      696      704      713      717      717      723
4          19       19       19       24       24       24       24       25
...       ...      ...      ...      ...      ...      ...      ...      ...
3519        0        0        0        0       15       17       17       20
3520        0        0        0        0        6        7        7        7
3521        0        0        0        0       66       70       70       70
3522        0        0        0        0       10       10       10        9
3523        0        0        0        0      119      124      126      130

[3524 rows x 97 columns], 'deaths':               County Province/State Country/Region        Lat        Long  \
0                NaN            NaN    Afghanistan  33.000000   65.000000
1                NaN            NaN        Albania  41.153300   20.168300
2                NaN            NaN        Algeria  28.033900    1.659600
3                NaN            NaN        Andorra  42.506300    1.521800
4                NaN            NaN         Angola -11.202700   17.873900
...              ...            ...            ...        ...         ...
3519    Central Utah           Utah             US  39.372319 -111.575868
3520  Southeast Utah           Utah             US  38.996171 -110.701396
3521  Southwest Utah           Utah             US  37.854472 -111.441876
3522       TriCounty           Utah             US  40.124915 -109.517442
3523    Weber-Morgan           Utah             US  41.271160 -111.914512

      1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  ...  4/13/20  4/14/20  \
0           0        0        0        0        0  ...       21       23
1           0        0        0        0        0  ...       23       24
2           0        0        0        0        0  ...      313      326
3           0        0        0        0        0  ...       29       31
4           0        0        0        0        0  ...        2        2
...       ...      ...      ...      ...      ...  ...      ...      ...
3519        0        0        0        0        0  ...        0        0
3520        0        0        0        0        0  ...        0        0
3521        0        0        0        0        0  ...        0        0
3522        0        0        0        0        0  ...        0        0
3523        0        0        0        0        0  ...        0        0

      4/15/20  4/16/20  4/17/20  4/18/20  4/19/20  4/20/20  4/21/20  4/22/20
0          25       30       30       30       33       36       36       40
1          25       26       26       26       26       26       26       27
2         336      348      364      367      375      384      392      402
3          33       33       35       35       36       37       37       37
4           2        2        2        2        2        2        2        2
...       ...      ...      ...      ...      ...      ...      ...      ...
3519        0        0        0        0        0        0        0        0
3520        0        0        0        0        0        0        0        0
3521        0        0        0        0        1        1        1        1
3522        0        0        0        0        0        0        0        0
3523        0        0        0        0        1        1        2        2

[3524 rows x 97 columns]}

In [17]:
datasets['covid_us_deaths']

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,5,5,5,5,5,5,5,5,5,5
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,2,2,2,2,2,2,2,2,2,2
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,45,45,51,56,58,60,62,63,64,63
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,1,1,1,1,2,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,0,0,0,0,0,0,0,0,0,0
3257,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,0,0,0,0,0,0,0,0,0,0
3258,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,0,0,0,0,0,0,1,1,1,1
3259,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,0,0,0,0,0,0,0,0,0,0
3260,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,0,0,0,0,0,0,1,1,2,2

In [37]:
datasets['confirmed'].head(20)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,555,607,665,714,784,840,906,933,996,1026
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,433,446,467,475,494,518,539,548,562,584
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1825,1914,1983,2070,2160,2268,2418,2534,2629,2718
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,601,638,646,659,673,673,696,704,713,717
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,19,19,19,19,19,19,19,24,24,24
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,21,21,23,23,23,23,23,23,23,23
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,1975,2142,2208,2277,2443,2571,2669,2758,2839,2941
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,967,1013,1039,1067,1111,1159,1201,1248,1291,1339
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,103,103,102,103,103,103,103,103,103,103
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,2857,2857,2863,2870,2886,2897,2926,2926,2926,2926
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,28,28,28,28,28,28,28,28,28,28
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,974,983,987,998,999,1001,1007,1015,1015,1015
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,429,429,429,433,433,433,435,435,435,435
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,133,133,144,165,165,169,180,180,180,180
14,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,1265,1268,1281,1291,1299,1299,1302,1319,1319,1319
15,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,514,514,517,527,527,532,541,541,541,541
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,13806,13945,14041,14226,14336,14476,14595,14671,14749,14795
17,NaN,Azerbaijan,40.1431,47.5769,0,0,0,0,0,0,...,1058,1098,1148,1197,1253,1283,1340,1373,1398,1436
18,NaN,Bahamas,25.0343,-77.3963,0,0,0,0,0,0,...,46,46,47,49,49,53,54,55,55,60
19,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,1040,1136,1361,1528,1671,1700,1740,1773,1881,1907

In [38]:
latest_date = datasets['confirmed'].columns[-1] # number of confirmed cases to date
df = datasets['confirmed'].head(265)[['Country/Region', 'Province/State', 'Lat', 'Long', latest_date]]
df

,Country/Region,Province/State,Lat,Long,4/20/20
0,Afghanistan,NaN,33.000000,65.000000,1026
1,Albania,NaN,41.153300,20.168300,584
2,Algeria,NaN,28.033900,1.659600,2718
3,Andorra,NaN,42.506300,1.521800,717
4,Angola,NaN,-11.202700,17.873900,24
...,...,...,...,...,...
259,France,Saint Pierre and Miquelon,46.885200,-56.315900,1
260,South Sudan,NaN,6.877000,31.307000,4
261,Western Sahara,NaN,24.215500,-12.885800,6
262,Sao Tome and Principe,NaN,0.186360,6.613081,4
263,Yemen,NaN,15.552727,48.516388,1

In [39]:
# This function generates a graph given the dataframe
pos = {}
# df - dataframe containing the data, pymap - map to be given to, G- graph, scale - scale of the number of cases
def generateGraph(df, pymap, G, scale=1):
    for index, row in df.iterrows():
        coords = (row['Lat'], row['Long'])
        name = row['Country/Region']

        # Adds the state or province if the point has one
        if not pd.isnull(row['Province/State']):
            name += ' - ' + row['Province/State']
            
        # Add number of cases in the title
        name += ' - Confirmed:' + str(row[latest_date])
            
        # Add to pos dict for drawing
        pos[name] = coords

        # Adds the nodes to the graph
        G.add_node(name, pos=coords) 
        # Marker
        marker = Marker(location=coords, draggable=False, title=name, opacity=0.1)
        pymap.add_layer(marker)
        # Circle
        circle = Circle(location=coords, radius=round(row[latest_date]*scale), color='red', fill_color='red')
        pymap.add_layer(circle)

In [40]:
# Generate map for the confirmed cases
confirmedCasesGraph = nx.Graph()

confirmedMap = Map(basemap=basemaps.OpenStreetMap.Mapnik, center=center, zoom=zoom)
confirmedMap.add_control(FullScreenControl())
confirmedMap.add_control(LayersControl())

generateGraph(df, confirmedMap, confirmedCasesGraph, 1.2)

In [41]:
# test code for adding a line (airway)
from ipyleaflet import Polyline
line = Polyline(
    locations=[
        [-31.9505, 115.8605],
        [-33.8688, 151.2093]
    ],
    color="green",
    fill=False,
    width=0.5,
    opacity=0.5
)

confirmedMap.add_layer(line)

In [42]:
confirmedMap

Map(center=[0, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text'…

In [43]:
df.sort_values(latest_date, ascending=False)

    Country/Region             Province/State        Lat       Long  4/20/20
225             US                        NaN  37.090200 -95.712900   784326
201          Spain                        NaN  40.000000  -4.000000   200210
137          Italy                        NaN  43.000000  12.000000   181228
116         France                        NaN  46.227600   2.213700   155275
120        Germany                        NaN  51.000000   9.000000   147065
..             ...                        ...        ...        ...      ...
263          Yemen                        NaN  15.552727  48.516388        1
259         France  Saint Pierre and Miquelon  46.885200 -56.315900        1
78           China                      Tibet  31.692700  88.092400        1
238         Canada                  Recovered   0.000000   0.000000        0
231         Canada           Diamond Princess   0.000000   0.000000       -1

[264 rows x 5 columns]

In [44]:
# Create a separate dataframe for australian cities
ausCities = df.loc[df['Country/Region'] == 'Australia']
ausCities

   Country/Region                Province/State      Lat      Long  4/20/20
8       Australia  Australian Capital Territory -35.4735  149.0124      103
9       Australia               New South Wales -33.8688  151.2093     2926
10      Australia            Northern Territory -12.4634  130.8456       28
11      Australia                    Queensland -28.0167  153.4000     1015
12      Australia               South Australia -34.9285  138.6007      435
13      Australia                      Tasmania -41.4545  145.9707      180
14      Australia                      Victoria -37.8136  144.9631     1319
15      Australia             Western Australia -31.9505  115.8605      541

In [45]:
ausGraph = nx.Graph()

ausMap = Map(basemap=basemaps.OpenStreetMap.Mapnik, center=(-28, 138), zoom=4)
ausMap.add_control(FullScreenControl())
ausMap.add_control(LayersControl())

generateGraph(ausCities, ausMap, ausGraph, 50)
display(ausMap)

Map(center=[-28, 138], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_t…

In [46]:
ausMap.interact(zoom=(1,10,1))

Box(children=(IntSlider(value=4, description='zoom', max=10, min=1),))

In [2]:
"""
FOR API CALLS FOR LATER ON

MAPS LOCATIONS FROM THE COVID DATASET TO AIRPORT LOCATIONS USED BY THE API WE ARE USING
"""
%load_ext autoreload
%autoreload

from datasetmanager import AirportToLocation

airport_manager = AirportToLocation(datasets['full']['confirmed'])
airport_manager.generateNewAirportToLocationDataset()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

/home/alex/Desktop/University/2020-Semester1/CITS4403/project/datasetmanager.py:293: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  possible_locations_df['distance'] = distances_arr

,codeIataAirport,County,Province/State,Country/Region,LatAirport,LongAirport
0,AAA,NaN,French Polynesia,France,-17.050000,-145.416670
1,AAB,NaN,South Australia,Australia,-26.700000,141.041670
2,AAC,NaN,NaN,Egypt,31.133333,33.750000
3,AAE,NaN,NaN,Algeria,36.821392,7.811857
4,AAF,Franklin,Florida,US,29.733334,-84.983330
...,...,...,...,...,...,...
9804,ZYZ,NaN,NaN,Belgium,51.219920,4.396250
9805,ZZN,NaN,NaN,Norway,59.913869,10.752245
9806,ZZO,NaN,NaN,Russia,50.666668,142.750000
9807,ZZU,NaN,NaN,Malawi,-11.442778,34.012780
9808,ZZV,Muskingum,Ohio,US,39.933334,-82.016670

In [22]:
%load_ext autoreload
%autoreload
from covid_data import CovidData

covid_data = CovidData()
covid_cases, edges = covid_data.getData(bin_region_column='country', country='US', specific_date='4/18/20')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
covid_cases['recovered']

  Country/Region      Lat     Long  4/18/20
0             US  37.0902 -95.7129    64840

In [20]:
edges

,DepartCounty,DepartProvince/State,DepartCountry/Region,ArrivalCounty,ArrivalProvince/State,ArrivalCountry/Region,NumberOfRoutes
0,Ada,Idaho,US,Anchorage,Alaska,US,1
1,Ada,Idaho,US,Clark,Nevada,US,8
2,Ada,Idaho,US,Cook,Illinois,US,2
3,Ada,Idaho,US,Denver,Colorado,US,11
4,Ada,Idaho,US,Gallatin,Montana,US,1
...,...,...,...,...,...,...,...
8302,none,Virgin Islands,US,Miami-Dade,Florida,US,8
8303,none,Virgin Islands,US,Shelby,Tennessee,US,1
8304,none,Virgin Islands,US,Suffolk,Massachusetts,US,1
8305,none,Virgin Islands,US,none,Puerto Rico,US,74
8306,none,Virgin Islands,US,none,Virgin Islands,US,51