In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math, random, requests, io
%matplotlib inline

In [2]:
import sys
!{sys.executable} -m pip install ipyleaflet

Requirement already satisfied: ipyleaflet in c:\users\ethan\anaconda3\lib\site-packages (0.12.3)
Requirement already satisfied: branca<0.4,>=0.3.1 in c:\users\ethan\anaconda3\lib\site-packages (from ipyleaflet) (0.3.1)
Requirement already satisfied: ipywidgets<8,>=7.5.0 in c:\users\ethan\anaconda3\lib\site-packages (from ipyleaflet) (7.5.1)
Requirement already satisfied: xarray>=0.10 in c:\users\ethan\anaconda3\lib\site-packages (from ipyleaflet) (0.15.1)
Requirement already satisfied: traittypes<3,>=0.2.1 in c:\users\ethan\anaconda3\lib\site-packages (from ipyleaflet) (0.2.1)
Requirement already satisfied: jinja2 in c:\users\ethan\anaconda3\lib\site-packages (from branca<0.4,>=0.3.1->ipyleaflet) (2.10.3)
Requirement already satisfied: six in c:\users\ethan\appdata\roaming\python\python37\site-packages (from branca<0.4,>=0.3.1->ipyleaflet) (1.12.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (4.3.3)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (5.1.2)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (7.8.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\ethan\anaconda3\lib\site-packages (from ipywidgets<8,>=7.5.0->ipyleaflet) (4.4.0)
Requirement already satisfied: setuptools>=41.2 in c:\users\ethan\anaconda3\lib\site-packages (from xarray>=0.10->ipyleaflet) (41.4.0)
Requirement already satisfied: numpy>=1.15 in c:\users\ethan\anaconda3\lib\site-packages (from xarray>=0.10->ipyleaflet) (1.16.5)
Requirement already satisfied: pandas>=0.25 in c:\users\ethan\anaconda3\lib\site-packages (from xarray>=0.10->ipyleaflet) (0.25.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ethan\anaconda3\lib\site-packages (from jinja2->branca<0.4,>=0.3.1->ipyleaflet) (1.1.1)
Requirement already satisfied: ipython-genutils in c:\users\ethan\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets<8,>=7.5.0->ipyleaflet) (0.2.0)
Requirement already satisfied: decorator in c:\users\ethan\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets<8,>=7.5.0->ipyleaflet) (4.4.0)
Requirement already satisfied: tornado>=4.2 in c:\users\ethan\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.5.0->ipyleaflet) (6.0.3)
Requirement already satisfied: jupyter-client in c:\users\ethan\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets<8,>=7.5.0->ipyleaflet) (5.3.3)
Requirement already satisfied: backcall in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.1.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\ethan\appdata\roaming\python\python37\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.4.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (2.0.10)
Requirement already satisfied: jedi>=0.10 in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.15.1)
Requirement already satisfied: pygments in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (2.4.2)
Requirement already satisfied: pickleshare in c:\users\ethan\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.7.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\ethan\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (6.0.1)
Requirement already satisfied: jupyter-core in c:\users\ethan\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (4.5.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\ethan\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (3.0.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\ethan\anaconda3\lib\site-packages (from pandas>=0.25->xarray>=0.10->ipyleaflet) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\ethan\anaconda3\lib\site-packages (from pandas>=0.25->xarray>=0.10->ipyleaflet) (2.8.0)
Requirement already satisfied: pyzmq>=13 in c:\users\ethan\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets<8,>=7.5.0->ipyleaflet) (18.1.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\ethan\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets<8,>=7.5.0->ipyleaflet) (223)
Requirement already satisfied: wcwidth in c:\users\ethan\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.1.7)
Requirement already satisfied: parso>=0.5.0 in c:\users\ethan\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8,>=7.5.0->ipyleaflet) (0.5.1)
Requirement already satisfied: prometheus-client in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.7.1)
Requirement already satisfied: nbconvert in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (5.6.0)
Requirement already satisfied: terminado>=0.8.1 in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.8.2)
Requirement already satisfied: Send2Trash in c:\users\ethan\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (1.5.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\ethan\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.15.4)
Requirement already satisfied: attrs>=17.4.0 in c:\users\ethan\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets<8,>=7.5.0->ipyleaflet) (19.2.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.8.4)
Requirement already satisfied: bleach in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (3.1.0)
Requirement already satisfied: testpath in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.4.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (1.4.2)
Requirement already satisfied: defusedxml in c:\users\ethan\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.6.0)
Requirement already satisfied: webencodings in c:\users\ethan\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8,>=7.5.0->ipyleaflet) (0.5.1)

In [3]:
!jupyter nbextension enable --py --sys-prefix ipyleaflet

Enabling notebook extension jupyter-leaflet/extension...
      - Validating: ok

In [4]:
from ipyleaflet import Map, basemaps, basemap_to_tiles, Circle, Marker, FullScreenControl, LayersControl
# After importing, refresh the page to show the maps

In [5]:
# https://blog.jupyter.org/interactive-gis-in-jupyter-with-ipyleaflet-52f9657fa7a
center = (0, 0)
zoom=1

map_ = Map(basemap=basemaps.OpenStreetMap.Mapnik, center=center, zoom=zoom)
map_.add_control(FullScreenControl())
map_.add_control(LayersControl())
display(map_)

Map(center=[0, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text'…

In [6]:
map_.interact(zoom=(1,10,1))

Box(children=(IntSlider(value=1, description='zoom', max=10, min=1),))

In [7]:
# Add compatibility with Windows
DATASET_URLS_CSV = "dataset/dataset_urls.csv"

def load_datasets_to_dataframe(dataset_urls=DATASET_URLS_CSV):
    column_names = ("dataset_label", "url")
    df_urls = pd.read_csv(dataset_urls, header=None, names=column_names)
    datasets = {}
    
    for index, row in df_urls.iterrows():
        data_label = row[column_names[0]]
        url = row[column_names[1]]
        dwnld = requests.get(url).content
        data_df = pd.read_csv(io.StringIO(dwnld.decode('utf-8').replace('\r', '')))
        datasets[data_label] = data_df
        
    return datasets
        
    
datasets = load_datasets_to_dataframe()

In [8]:
datasets['deaths']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,15,15,18,18,21,23,25,30,30,30
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,23,23,23,23,23,24,25,26,26,26
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,235,256,275,293,313,326,336,348,364,367
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,25,26,26,29,29,31,33,33,35,35
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
datasets['confirmed'].head(20)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,484,521,555,607,665,714,784,840,906,933
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,409,416,433,446,467,475,494,518,539,548
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1666,1761,1825,1914,1983,2070,2160,2268,2418,2534
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,583,601,601,638,646,659,673,673,696,704
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,19,19,19,19,19,19,19,19,19,24
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,19,19,21,21,23,23,23,23,23,23
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,1795,1975,1975,2142,2208,2277,2443,2571,2669,2758
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,921,937,967,1013,1039,1067,1111,1159,1201,1248
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,100,103,103,103,102,103,103,103,103,103
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,2773,2822,2857,2857,2863,2870,2886,2897,2926,2926
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,28,28,28,28,28,28,28,28,28,28
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,953,965,974,983,987,998,999,1001,1007,1015
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,420,428,429,429,429,433,433,433,435,435
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,111,122,133,133,144,165,165,169,180,180
14,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,1228,1241,1265,1268,1281,1291,1299,1299,1302,1319
15,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,495,506,514,514,517,527,527,532,541,541
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,13244,13555,13806,13945,14041,14226,14336,14476,14595,14671
17,NaN,Azerbaijan,40.1431,47.5769,0,0,0,0,0,0,...,926,991,1058,1098,1148,1197,1253,1283,1340,1373
18,NaN,Bahamas,25.0343,-77.3963,0,0,0,0,0,0,...,41,42,46,46,47,49,49,53,54,55
19,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,887,925,1040,1136,1361,1528,1671,1700,1740,1773

In [10]:
latest_date = datasets['confirmed'].columns[-1] # number of confirmed cases to date
df = datasets['confirmed'].head(265)[['Country/Region', 'Province/State', 'Lat', 'Long', latest_date]]
df

,Country/Region,Province/State,Lat,Long,4/18/20
0,Afghanistan,NaN,33.000000,65.000000,933
1,Albania,NaN,41.153300,20.168300,548
2,Algeria,NaN,28.033900,1.659600,2534
3,Andorra,NaN,42.506300,1.521800,704
4,Angola,NaN,-11.202700,17.873900,24
...,...,...,...,...,...
259,France,Saint Pierre and Miquelon,46.885200,-56.315900,1
260,South Sudan,NaN,6.877000,31.307000,4
261,Western Sahara,NaN,24.215500,-12.885800,6
262,Sao Tome and Principe,NaN,0.186360,6.613081,4
263,Yemen,NaN,15.552727,48.516388,1

In [11]:
# This function generates a graph given the dataframe
pos = {}
# df - dataframe containing the data, pymap - map to be given to, G- graph, scale - scale of the number of cases
def generateGraph(df, pymap, G, scale=1):
    for index, row in df.iterrows():
        coords = (row['Lat'], row['Long'])
        name = row['Country/Region']

        # Adds the state or province if the point has one
        if not pd.isnull(row['Province/State']):
            name += ' - ' + row['Province/State']
            
        # Add number of cases in the title
        name += ' - Confirmed:' + str(row[latest_date])
            
        # Add to pos dict for drawing
        pos[name] = coords

        # Adds the nodes to the graph
        G.add_node(name, pos=coords) 
        # Marker
        marker = Marker(location=coords, draggable=False, title=name, opacity=0.1)
        pymap.add_layer(marker)
        # Circle
        circle = Circle(location=coords, radius=round(row[latest_date]*scale), color='red', fill_color='red')
        pymap.add_layer(circle)

In [12]:
# Generate map for the confirmed cases
confirmedCasesGraph = nx.Graph()

confirmedMap = Map(basemap=basemaps.OpenStreetMap.Mapnik, center=center, zoom=zoom)
confirmedMap.add_control(FullScreenControl())
confirmedMap.add_control(LayersControl())

generateGraph(df, confirmedMap, confirmedCasesGraph, 1.2)

In [13]:
# test code for adding a line (airway)
from ipyleaflet import Polyline
line = Polyline(
    locations=[
        [-31.9505, 115.8605],
        [-33.8688, 151.2093]
    ],
    color="green",
    fill=False,
    width=0.5,
    opacity=0.5
)

confirmedMap.add_layer(line)

In [14]:
confirmedMap

Map(center=[0, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text'…

In [15]:
df.sort_values(latest_date, ascending=False)

    Country/Region             Province/State        Lat       Long  4/18/20
225             US                        NaN  37.090200 -95.712900   732197
201          Spain                        NaN  40.000000  -4.000000   191726
137          Italy                        NaN  43.000000  12.000000   175925
116         France                        NaN  46.227600   2.213700   147969
120        Germany                        NaN  51.000000   9.000000   143342
..             ...                        ...        ...        ...      ...
78           China                      Tibet  31.692700  88.092400        1
259         France  Saint Pierre and Miquelon  46.885200 -56.315900        1
263          Yemen                        NaN  15.552727  48.516388        1
238         Canada                  Recovered   0.000000   0.000000        0
231         Canada           Diamond Princess   0.000000   0.000000       -1

[264 rows x 5 columns]

In [16]:
# Create a separate dataframe for australian cities
ausCities = df.loc[df['Country/Region'] == 'Australia']
ausCities

   Country/Region                Province/State      Lat      Long  4/18/20
8       Australia  Australian Capital Territory -35.4735  149.0124      103
9       Australia               New South Wales -33.8688  151.2093     2926
10      Australia            Northern Territory -12.4634  130.8456       28
11      Australia                    Queensland -28.0167  153.4000     1015
12      Australia               South Australia -34.9285  138.6007      435
13      Australia                      Tasmania -41.4545  145.9707      180
14      Australia                      Victoria -37.8136  144.9631     1319
15      Australia             Western Australia -31.9505  115.8605      541

In [17]:
ausGraph = nx.Graph()

ausMap = Map(basemap=basemaps.OpenStreetMap.Mapnik, center=(-28, 138), zoom=4)
ausMap.add_control(FullScreenControl())
ausMap.add_control(LayersControl())

generateGraph(ausCities, ausMap, ausGraph, 50)
display(ausMap)

Map(center=[-28, 138], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_t…

In [18]:
ausMap.interact(zoom=(1,10,1))

Box(children=(IntSlider(value=4, description='zoom', max=10, min=1),))